body {
    width: 850px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;

}


.header {
    background-color: rgb(49, 49, 179);
    color:rgb(223, 223, 223);
    margin-top: 5px;
}

.main {
    columns: 2;
    column-gap: 10px;

}

.left{
    position: relative;
    width: 328px;
    float: left;
    overflow: hidden;
    break-inside: avoid;
    background-color: white;
}
.right{
    position: relative;
    width: 512px;
    float: right;
    overflow: hidden;
    break-inside: avoid-column;
    background-color: white;
}




#aboutBar {
    background-color: white;
    color: black;
    padding: 5px;
}

#profilePic {
    position: relative;
    left: 10px;
    width: 150px;
    height: 150px;
}

#first{
    border-left: 2px solid lightslategray;
    height: 30px;
    position: relative;
}

#second{
    border-left: 2px solid lightslategray;
    height: 30px;
    position: relative;
}

#third{
    border-left: 3px solid lightslategray;
    height: 30px;
    position: relative;
}

#pageName {
    font-size: 16pt;
    position: relative;
    right: 80px;
}

#userName {
    font-size: 20pt;
    position: relative;
    bottom: 30px;
    left:15px;
}
